PORT=4006
REDIS_URL=redis://redis:6379
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_smtp_user_here
SMTP_PASS=your_smtp_pass_here
SMTP_FROM=your_smtp_from_here
FRONTEND_URL=https://clahanacademy.com
SENDGRID_API_KEY=your_sendgrid_api_key_here
SENDGRID_FROM=noreply@yourdomain.com
